header{
    width:100%;
    border-style: solid;
    border-width:1px;
    min-width:875px;
}
.main {
    position: relative;
    border-style: solid;
    border-width: 0.5px;
    display: inline-block;
    margin: 0px;
    min-width: 875px;
}
table {
    width: 100%; 
    border-collapse: collapse;
   
   }
   td, th {
    padding: 3px;
    border: 1px solid black; 
   }


.col-1{
    
    width: 100%;
    float: left;
}

.col-1-5 {
    margin: 5px;
    position: relative;
    width: 20%;
    height: 100%;
    float: left;
    min-width:120px;
}

.col-3-5 {
    border-style: solid;
    border-width:1px;
    width: 55%;   
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    padding: 5px;
}

#menu {
    list-style:none;
    padding-left:0px;
}

.col-3-5 p {
    text-indent: 5px;
}

.col-3-5 img {
    width:50%;
    height:100%;
    float: right;
    margin: 5px 5px;
}

.col-1-5 input {
    width:80%;
}

#checkbox {
    width:10%;
}

footer{
    margin: 0%;
    position: relative;
    bottom:5px;
    border-style: solid;
    border-width:1px;
    width: 100%;
    min-width:875px;
}
#button {
    width:80%;
    border-radius:5px;
    
}