@model KnowledgeTestingApplication.Models.UserIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<table class="table">
    <tr>
        <td>UserId</td>
        <td>User Name</td>
    </tr>
    @foreach (var item in Model.Users)
    {
        <tr>
            <td>@item.Id</td>
            <td>@Html.ActionLink(item.Name, "EditUser", new { id = item.Id , login = item.Email})</td>
        </tr>
    }

</table>